
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.login {	font-size: 150%; }

.welcome { font-size: 100%; }

.cellList {
  font-size: 32pt;
/**  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center; */
}
